{{/* type title open */}}

{{- $iconMap := dict "note" "fas fa-pencil-alt fa-fw" -}}
{{- $iconMap  = dict "abstract" "fas fa-list-ul fa-fw" | merge $iconMap -}}
{{- $iconMap  = dict "info" "fas fa-info-circle fa-fw" | merge $iconMap -}}
{{- $iconMap  = dict "tip" "fas fa-lightbulb fa-fw" | merge $iconMap -}}
{{- $iconMap  = dict "success" "fas fa-check-circle fa-fw" | merge $iconMap -}}
{{- $iconMap  = dict "question" "fas fa-question-circle fa-fw" | merge $iconMap -}}
{{- $iconMap  = dict "warning" "fas fa-exclamation-triangle fa-fw" | merge $iconMap -}}
{{- $iconMap  = dict "failure" "fas fa-times-circle fa-fw" | merge $iconMap -}}
{{- $iconMap  = dict "danger" "fas fa-skull-crossbones fa-fw" | merge $iconMap -}}
{{- $iconMap  = dict "bug" "fas fa-bug fa-fw" | merge $iconMap -}}
{{- $iconMap  = dict "example" "fas fa-list-ol fa-fw" | merge $iconMap -}}
{{- $iconMap  = dict "quote" "fas fa-quote-right fa-fw" | merge $iconMap -}}
{{- $iconDetails := "fas fa-angle-down fa-fw" -}}

{{- $inner := .Inner | .Page.RenderString -}}
{{ $type := "note" }}
{{ $title := "" }}
{{ $open := true }}

{{ if .IsNamedParams }}
  {{ $type = .Get "type" | default $type }}
  {{ $title := .Get "title" | default $title }}
  {{ $open = .Get "open" | default $open }}
{{ else }}
  {{ $type = .Get 0 | default $type }}
  {{ $title = .Get 1 | default $title }}
  {{ $open = .Get 2 | default $open }}
{{ end }}


<div class="details annotation {{ $type }}{{ if eq $open false }} collapse{{ end }}" onclick="this.classList.toggle('collapse');">
  <div class="summary" {{ if eq $title "" }}style="display:none"{{ end }}>
    <i class="icon {{ index $iconMap $type }}"></i>
    <span class="title">
      {{ .Get "title" }}
    </span>
    <i class="details-icon {{ $iconDetails }}"></i>
  </div>
  <div class="content">
    {{- $inner -}}
  </div>
</div>
